<section class="dest">
    <img src="images/10x10.png" class="image2" alt="koningsdam"/>
    <div class="wrapper">
        <div class="all-view-background">
            <div class="dest-links">
                <div class="dest-links-top">
                    <a class="bold" href="#">Destinations</a>
                    <a href="#">Alaska & Yukon</a>
                    <a href="#">Arabia & Africa</a>
                    <a href="#">Asia</a>
                    <a href="#">Australia & South Pacific</a>
                    <a href="#">Bermuda</a>
                    <a href="#">Canada & New England</a>
                    <a href="#">Caribbean</a>
                    <a href="#">Europe</a>
                    <a href="#">Grand Voyages</a>
                    <a href="#">Hawaii & Tahiti</a>
                    <a href="#">Mexico</a>
                    <a href="#">Pacific Coast</a>
                    <a href="#">Panama Canal</a>
                    <a href="#">South America & Antarctica</a>
                </div>
                <div class="dest-links-bottom">
                    <a href="#">Ports & Excursions</a>
                    <a href="#">Hotel & Tour Packages</a>
                    <a href="#">Videos & Virtual Tours</a>
                    <a href="#">E-Brochures</a> 
                </div>
            </div>
            <img src="../images/map.png" alt="world map"/>
        </div>
    </div>
</section>