<section class="plan">
    <img src="images/10x10.png" class="image1" alt="Anniversary"></img>
    <div class="wrapper">
        <div class="all-view-background">
            <div class="plan-selects">
                <h1>PLAN A CRUISE</h1>
                <select class="des">
                    <option>Destination</option>
                    <option>Ng Option</option>
                </select>
                <select class="dat">
                    <option>Date</option>
                    <option>Ng Option</option>
                </select>
                <select class="dur">
                    <option>Duration</option>
                    <option>Ng Option</option>
                </select>
                <button>Search</button>
                
                <div class="plan-links">
                    <a href="#">Advanced Search</a>
                    <a href="#">Ports & Excursions</a>
                    <a href="#">Group Cruises</a>
                    <a href="#">Videos & Virtual Tours</a>
                    <a href="#">E-Brochures</a>
                </div>
            </div>
            <img src="../images/HappyCouple.jpg" alt="Happy Couple"/>
        </div>
    </div>
</section>

