<section class="specials">
    <img src="images/10x10.png" class="image1" alt="Anniversary"></img>
    <div class="wrapper">
        <div class="all-view-background">
            <div class="special-top-row">
                <a href="#">
                    <img class="alaska" src="../images/10x10.png" alt="Alaska & Yukon"/>
                    <p>ALASKA & YUKON CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="asia" src="../images/10x10.png" alt="Asia & Pacific"/>
                    <p>ASIA & PACIFIC CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="anzsp" src="../images/10x10.png" alt="Australia, N.Z & S. Pacific"/>
                    <p>AUSTRALIA, N.Z. & S. PACIFIC CRUISE DEALS </p>
                </a><!--
                --><a href="#">
                    <img class="bermuda" src="../images/10x10.png" alt="Bermuda"/>
                    <p>BERMUDA CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="canada" src="../images/10x10.png" alt="Canada/New England"/>
                    <p>CANADA/NEW ENGLAND CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="carib" src="../images/10x10.png" alt="Caribbean"/>
                    <p>CARIBBEAN CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="europ" src="../images/10x10.png" alt="Europe"/>
                    <p>EUROPE CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="gvoyages" src="../images/10x10.png" alt="Grand Voyages"/>
                    <p>GRAND VOYAGES CRUISE DEALS</p>
                </a>
            </div>

            <div class="special-bottom-row">
               <a href="#">
                    <img class="hawaii" src="../images/10x10.png" alt="Hawaii & Tahiti"/>
                    <p>HAWAII & TAHITI CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="holiday" src="../images/10x10.png" alt="Holiday"/>
                    <p>HOLIDAY CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="mexico" src="../images/10x10.png" alt="Mexico"/>
                    <p>MEXICO CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="pnwpc" src="../images/10x10.png" alt="Pacific N.W & Pacific Coast"/>
                    <p>PACIFIC N.W & PACIFIC COAST CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="panama" src="../images/10x10.png" alt="Panama Canal"/>
                    <p>PANAMA CANAL CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="saa" src="../images/10x10.png" alt="South America/ Antarctica"/>
                    <p>SOUTH AMERICA/ ANTARCTICA CRUISE DEALS</p>
                </a><!--
                --><a href="#">
                    <img class="antarctica" src="../images/10x10.png" alt="Antarctica"/>
                    <p>ANTARCTICA CRUISE DEALS</p>
                </a>
            </div>
        </div>
    </div>
</section>
